#%RAML 1.0
title: AlejandroRocha
mediaType: 
  - application/json
version: 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/99ff3740-311a-4e18-a772-8cc8246ef272/ # baseUri: core.spreedly.com/v1

securitySchemes:
  basic:
    type: Basic Authentication
    displayName: Basic Authentication
    description: Se necesita el usuario y la contraseña para acceder a la petición
protocols:
  [HTTP, HTTPS]
description: Recupere una lista ordenada y paginada de todos los métodos de pago retenidos en el entorno autenticado.
 
documentation:
  - title: API getway
    content: obtenemos una lista de gateways https://docs.spreedly.com/reference/api/v1/#list

 
         
/metodopago:     
   post:
    securedBy:
      - basic
    body:
      application/json:
        properties:
          input:
             type: !include test/MTP.raml
             example: !include test/MetodoPago.json 
          
    responses: 
      201:
        body: 
          application/json:
            type: !include test/MTPSalida.raml
            example: !include test/MetodoPagoSalida.json 


/compra:     
   post:
    securedBy:
      - basic
    body:
      application/json:
        properties:
          input:
             type: !include test/Comp.raml
             example: !include test/Compra.json     
    responses: 
      201:
        body: 
          application/json:
            type: !include test/CompSalida.raml
            example: !include test/CompraSalida.json 



/transactions:     
   post:
    securedBy:
      - basic
    body:
      application/json:
        properties:
          input:
             type: !include test/Trans.raml
             example: !include test/Transactions.json     
    responses: 
      201:
        body: 
          application/json:
            type: !include test/TranSalida.raml
            example: !include test/TransactionsSalida.json
